
.big-div{
  background-color: rgba(238, 233, 233, 0.548);
}
 .navbar{
    background-color:  #00C9FF;
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    color: rgb(133, 128, 121);
    padding-right: 4.5rem;
 } 
 .nav-item{
    padding: 10px auto; 
    margin-left: 0.4cm;
    display: flex;
    font-weight: 400;
    font-size: 0.49cm;
 }
 .margin{
    margin-left: 7cm;
    align-items: center;
 } 
 .navbar-brand{
   margin-left: 1.5cm;
   font-weight: 550;
   font-size:larger; 
      color: rgb(133, 128, 121);
 } 
 
 #btn-nav{
   background: -webkit-linear-gradient(to right, #535a53, #212324);
   background: linear-gradient(to right, #444644, #1f2020);
   border: none; 
 }  
 .container-body{  
   height: 14cm;
   width: 98%;
   align-items: center;
   margin-top: 1.5cm;
   margin-bottom: 1.5cm; 
   background-color: #424444; 
   text-align: center;
   margin-left: 1%;
 }
 .about p{
  color:  rgb(255, 255, 255);
  text-align: center;
 }
 .p-text{
  padding-top: 0.5cm;
  height: 3cm;
  width: 23cm;
  margin-left: 7cm;
  align-items: center;
  font-weight: 300;
  font-size: 5cm;
  padding-bottom: 4.4cm;
 }
 .row{
  padding: 0.4cm;
 }
 .about h3{
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 1.2cm;
   text-align: center;
   color: rgb(255, 255, 255);
   margin-left: 0.3cm;
   font-weight: 900; 
   
 }
 #features h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 0.8cm;
}
.feature-box{
  padding-top: 0.1cm;
  justify-content: center;
  text-align: center;
  display: inline-block;
}
.fa-solid{
  color:#5fd0f0;
  margin-bottom: 1rem;
  
}
.fa-solid:hover{
  color:#00C9FF 
}
 .heading{
  padding-top: 0.3cm;
 }

 /* REGISTER STYLES  */

 .card1{
  border-radius: 15px;
  border: 8px solid #00C9FF;
  width: 400px;
  height: 350px;
  border-style: groove;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 margin-left: 1px;
 margin-top: 1cm;
 }
 .card2{
   border-radius: 15px;
  border: 8px solid #92FE9D;
  width: 400px; 
  border-style: groove;
  height: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 18cm;
  margin-top: 2cm;
 }
 .arrow-container {
   font-size: 40px;
 }
 
 .arrow {
   border: solid black;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
 }
  .my-line {
   border: none;
   border-top: 1px solid black;
   margin: 20px 0;
 }
 .dotted-line {
   border: 1px dotted #333;
   height: 20px;
   width: 100%;
 } 
 p{
   font-size: large;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: 1.5cm;
 }
 button{
   float: right;
   margin-right: 1px;
   
 }
.container{
 text-align: center;
}
.regis #regis{ 
 margin-left: 1cm;
 margin-right: 1cm;
 margin-top: 1.5cm;
 color: black;
 border-radius: 0.5cm;
 padding-bottom: -3cm;
}
.head1{
 text-align: center;
 overflow-wrap: break-word;
}
.Register-subjects{
  height: 15cm;
  width: 98%;
  margin-left: 1%;
  background-color: rgb(255, 255, 255);
  border: #e9eaeb ;
  padding-bottom: 20cm;
}
 
     