 body{
    display: block;
 }   
 .navbar{
    background-color:  #00C9FF;
    
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #92FE9D, #00C9FF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: rgb(133, 128, 121);
        font-size: 0.47cm;
        padding-right: 4.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 } 
 .nav-item{
    padding: 10px auto;
    margin-left: 0.6cm;
    display: flex;
    font-weight: 400;
    font-size: 0.49cm;
 }
 .margin{
    margin-left: 8.7cm;
    display: flex;
 }
 .navbar-brand{
   margin-left: 1.5cm;
   font-weight: 550;
   font-size:larger;
   color: rgb(133, 128, 121);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .btn{
   color: rgb(19, 18, 18);
   border-radius: 3cm;
   font-size: large;
   background: -webkit-linear-gradient(to right, #535a53, #212324);
   background: linear-gradient(to right, #444644, #1f2020);
   border: none;
   font-weight: 700;
 }
 .container-body{
   height: 12cm;
   border: solid 5px #00C9FF ;
   align-items: center;
   border-radius: 2cm;
   margin-top: 1.5cm;
   margin-bottom: 1.5cm;
   border-style: groove;
 }
 .about h3{
   font-size: larger;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 1cm;
   text-align: left;
   margin-left: 3cm;
   margin-top: 0.7cm;
 }

 /* REGISTER STYLES  */

 .card1{
  border-radius: 15px;
  border: 8px solid #00C9FF;
  width: 400px;
  height: 350px;
  border-style: groove;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 margin-left: 1px;
 margin-top: 1cm;
 }
 .card2{
   border-radius: 15px;
  border: 8px solid #92FE9D;
  width: 400px; 
  border-style: groove;
  height: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 18cm;
  margin-top: 2cm;
 }
 .arrow-container {
   font-size: 40px;
 }
 
 .arrow {
   border: solid black;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
 }
 /* .my-line {
   border: none;
   border-top: 1px solid black;
   margin: 20px 0;
 }
 .dotted-line {
   border: 1px dotted #333;
   height: 20px;
   width: 100%;
 } */
 p{
   font-size: large;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: 1.5cm;
 }
 button{
   float: right;
   margin-right: 1px;
   
 }
.container{
 text-align: center;
}
.btn{
 margin-left: 1cm;
 margin-right: 1cm;
 margin-top: 1.5cm;
 color: black;
}
.head1{
 text-align: center;
 overflow-wrap: break-word;
}
.Register-subjects{
  margin-bottom: 2cm;
}
 
     