 body{
    display: block;
 }   
 .navbar{
    background-color:  #00C9FF;
    
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #92FE9D, #00C9FF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: rgb(133, 128, 121);
        font-size: 0.47cm;
        padding-right: 4.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .nav-item{
    padding: 10px auto;
    margin-left: 0.6cm;
    display: flex;
    font-weight: 400;
    font-size: 0.49cm;
 }
 .margin{
    margin-left: 8.7cm;
    display: flex;
 }
 .navbar-brand{
   margin-left: 1.5cm;
   font-weight: 550;
   font-size:larger;
   color: rgb(133, 128, 121);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .btn{
   color: rgb(19, 18, 18);
   border-radius: 3cm;
   font-size: large;
   background: -webkit-linear-gradient(to right, #535a53, #212324);
   background: linear-gradient(to right, #444644, #1f2020);
   border: none;
   font-weight: 700;
 }
     